:root {
  --smoky-black: #090909;
  --charcoal: #363c47;
  --pale-green: #a0d3c8;
  --honeydew: #e3fff1;
  --accent: #35b0cc;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--pale-green);
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
